<% content_for :form_button do %>
  Update Entry
<% end %>

<%= render "form", entry: @entry %>



<div class="buttons my-4">
  <%= link_to "Show this entry", @entry, class: "button is-primary" %>
  <%= link_to "Back to entries", entries_path, class: "button is-info" %>
</div>



