<% content_for :title do %>
  FoodTracker &ndash; <%= DateTime.now.strftime("%I:%M %p - %-d %b %Y") %>
<% end %>

<div class="columns is-multiline mt-3">
  <% @entries.each do |entry| %>
    <div class="column is-one-third">
      <%= render "shared/card", 
        meal_type: entry.meal_type, 
        calories: entry.calories, 
        proteins: entry.proteins, 
        carbohydrates: entry.carbohydrates, 
        fats: entry.fats, 
        link_path_show: entry, 
        link_path_edit: edit_entry_path(entry)
       %>
    </div>
  <% end %>
</div>

      




