<h1 class="title is-1 has-text-centered mt-6">Welcome to the Food Tracker App!</h1>
<p class="subtitle is-4 has-text-centered my-3">The most efficient way to track your daily macros.</p>
<div class="buttons is-centered my-5">
  <%= link_to "View Entries", entries_path, class: "button is-primary is-medium" %>
</div>



